.red{
    color: rgb(245, 114, 114)
  }
  .inline{
    display: inline-block;
  
  }
  .green{
    color: rgb(167, 255, 167)
  
  }
  
  .list{
    img{
        display:block;
        margin: auto;
        width: 400px;
        height: 400px;
        transition: height 3s, width 3s;
    }
   
    img:hover{
        
        height: 500px;   
        width: 500px; 
    }
    .shownList{
            background-color: grey;
            height: 20px;
            transition: height 2s;
    }
    .ShowHide:hover ~ .shownList{
        height:auto ;

    }

  }